body {
  background-color: #b38c8c; 
  color: #ffffff;
  font-size: 1.2rem;
}

.App {
  text-align: center;
}

.stopwatch {
  margin-top: 50px;
}

.clock {
  border-radius: 50%;
  width: 250px; 
  height: 250px;
  background-color: #b25151;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem; 
  margin: 0 auto; 
  border: 2px solid black;
}

.buttons {
  margin-top: 30px;
}

.time {
  font-size: 4rem; 
  margin-bottom: 1.5rem; 
}

.buttons button {
  margin:  0.5rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #ffffff; 
  color: #b25151; 
  border: none; 
  border-radius: 10px; 
  border: 2px solid black;
}

.buttons button:hover {
  background-color: #b25151;
  color: #ffffff; 
}

.laps {
  list-style: none;
  padding: 0;
  margin-top: 30px; 
}

.laps li {
  font-size: 1.4rem;
  margin-bottom: 10px; 
}

.active {
  background-color: #ffffff;
  color: #b25151; 
}

.card {
  width: 100%;
  max-width: 400px; 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  transition: box-shadow 0.3s; 
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); 
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.info {
  font-size: 16px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkred;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
}

.button:hover {
  background-color: #b30000;
}
